{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-2xl font-bold text-center mt-6">Inscription</h1>
{{ form_start(registrationForm) }}
    {{ form_errors(registrationForm) }}

    <div class="flex justify-center">
        <div class="bg-white rounded w-1/2 shadow-md p-4 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-8 ml-4">
            <div class="w-full">
                <div class="form-label">
                    {{ form_label(registrationForm.pseudo) }}
                </div>
                <div class="form-row">
                    {{ form_widget(registrationForm.pseudo) }}
                    <ul class="error-message">
                    {{ form_errors(registrationForm.pseudo) }}
                    </ul>
                </div>

                <div class="form-label">
                    {{ form_label(registrationForm.nom) }}
                </div>
                <div class="form-row">
                    {{ form_widget(registrationForm.nom) }}
                    <ul class="error-message">
                    {{ form_errors(registrationForm.nom) }}
                    </ul>
                </div>

                <div class="form-label">
                    {{ form_label(registrationForm.prenom) }}
                </div>
                <div class="form-row">
                    {{ form_widget(registrationForm.prenom) }}
                    <ul class="error-message">
                    {{ form_errors(registrationForm.prenom) }}
                    </ul>
                </div>

                <div class="form-label">
                    {{ form_label(registrationForm.telephone) }}
                </div>
                <div class="form-row">
                    {{ form_widget(registrationForm.telephone) }}
                    <ul class="error-message">
                    {{ form_errors(registrationForm.telephone) }}
                    </ul>
                </div>
                <div class="form-label">
                    {{ form_label(registrationForm.email) }}
                </div>

                <div class="form-row">
                    {{ form_widget(registrationForm.email) }}
                    <ul class="error-message">
                    {{ form_errors(registrationForm.email) }}
                    </ul>
                </div>
            </div>
            <div class="w-full">
                <div class="form-label">
                    {{ form_label(registrationForm.siteEni) }}
                </div>
                <div class="form-row pb-4">
                    {{ form_widget(registrationForm.siteEni) }}
                </div>
                <div class="form-row pb-8">
                    {{ form_widget(registrationForm.plainPassword) }}
                    <ul class="error-message">
                    {{ form_errors(registrationForm.plainPassword) }}
                    </ul>
                    {# ._token permet de valider le token de l'enregistrement du mdp #}
                    {{ form_row(registrationForm._token) }}
                </div>
                <div class="form-row mb-8">
                    {{ form_widget(registrationForm.imageFile) }}
                </div>
               {# <label class="form-label">
                    <input type="checkbox" name="_remember_me" checked>
                    Rester connecté
                </label>#}
                {{ form_widget(registrationForm.Valider, {'attr': {'class': 'btn btn-neutral m-1'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}