{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-2xl text-center">Inscription</h1>

    {{ form_errors(registrationForm) }}

    <div class="w-full max-w-xl">
        {{ form_start(registrationForm, {'attr': {'class': 'rounded px-8 pt-6 pb-8 mb-4'}}) }}

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            {{ form_label(registrationForm.pseudo) }}
            {{ form_widget(registrationForm.pseudo) }}

        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            {{ form_label(registrationForm.nom) }}
            {{ form_widget(registrationForm.nom) }}
        </div>
       
       <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            {{ form_label(registrationForm.prenom) }}
            {{ form_widget(registrationForm.prenom) }}
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            {{ form_label(registrationForm.telephone) }}
            {{ form_widget(registrationForm.telephone) }}
            {{ form_errors(registrationForm.telephone) }}{#le form_errors permet d'afficher les messages d'erreurs après saise#}
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_errors(registrationForm.email) }}
        </div>

        <br>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            {{ form_label(registrationForm.siteEni) }}
            {{ form_widget(registrationForm.siteEni) }}
        </div>
        <br>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            {{ form_widget(registrationForm.plainPassword) }}
            {#._token permet de valider le token de l'enregistrement du mdp#}
            {{ form_row(registrationForm._token) }}
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            {{ form_widget(registrationForm.imageFile) }}
        </div>
        <label>
            <input type="checkbox" name="_remember_me" checked>
            Me garder connecter
        </label>


        {{ form_widget(registrationForm.Valider) }}

        {{ form_end(registrationForm, {render_rest: false}) }}
    </div>
{% endblock %}
