{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

    {% block body %}

        <div class="container ">
            {{ form_start(form) }}
            <div class="flex justify-center">
                <div class="w-2/3 p-4">
                    <div class="flex">
                        <div class="w-1/2 p-2">
                            {{ form_widget(form.nom) }}
                        </div>
                        <div class="w-1/2 p-2 inline-flex" id="test">
                            <div class="">
                                {{ form_widget(form.dateMin) }}
                            </div>
                            <div>
                                {{ form_widget(form.dateMax) }}
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="w-1/2 p-2 " id="test">
                        </div>
                        <div class="w-1/2 p-2 flex" id="test">
                            <div class="w-1/2 ">
                                <p>{{ form_label(form.site) }}</p>
                                {{ form_widget(form.site) }}
                            </div>
                            <div class="w-1/2 ">
                                <button class="bg-blue-600 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded"
                                        type="submit">
                                    Filtrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        {#    ******************************** Affichage liste des Sorties ****************************** #}

        <div class="mx-12">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8 ml-4">
                {% for event in sorties %}
                    <div class="relative card card-side bg-base-100 shadow-xl">
                        {#      *********** IMAGE CANCEL ********* #}
                        {% if event.etat.id == 6 %}
                            <img src="{{ asset('images/cancel.png') }}" alt="cancel"
                                 class="absolute inset-x-28  opacity-50 w-64 h-64 z-20">
                        {% endif %}
                        {#     *********** IMAGE SORTIE ******** #}
                        {% if event.imageName %}
                            <figure><img alt="sortie" style="max-width: 150px"
                                         class="rounded-lg overflow-hidden shadow-md ml-4 my-2"
                                         src="{{ asset('images/products/' ~ event.imageName) }}"/></figure>
                        {% else %}
                            <figure><img alt="sortie" class="rounded-lg overflow-hidden shadow-md ml-4 my-2"
                                         src="{{ asset('/images/amis2.jpg') }}"/></figure>
                        {% endif %}
                        {#     *************** CORPS DE LA CARTE ****************** #}
                        <div class="card-body w-64 h-64">
                            <h2 class="text-center card-title font-bold">{{ event.nom }}</h2>
                            <p>Début : {{ event.dateHeureDebut |date('d-m-Y') }} - Fin
                                : {{ event.dateHeureFin |date('d-m-Y') }}</p>
                            <p>{{ event.infosSortie }}</p>
                            <a class="btn btn-sm m-1" id="lien" href="{{ path('sortie_detail', {'id' : event.id}) }}">
                                detail
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
