{% extends 'base.html.twig' %}


{% block body %}
    <div>
        <h1> Modification du profil </h1>

        {{ form_errors(profilForm) }}

        {{ form_start(profilForm) }}
        {{ form_row(profilForm.pseudo) }}
        {{ form_errors(profilForm.pseudo) }}

        {{ form_row(profilForm.nom) }}
        {{ form_row(profilForm.prenom) }}

        {{ form_row(profilForm.telephone) }}
        {{ form_errors(profilForm.telephone) }}

        {{ form_row(profilForm.email) }}
        {{ form_row(profilForm.siteEni) }}
        {{ form_row(profilForm._token) }}

        <a href="{{ path('app_forgot_password_request')}}">
            Changer de mots de passe ?
        </a>

            {{ form_widget(profilForm.Modifier, {'attr': {'class': 'btn btn-neutral m-1'}}) }}


    </div>
{% endblock %}