{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            nom de la sortie : {{ sortie.nom }}
        </li>
        <li>
            date du début : {{ sortie.dateHeureDebut |date('d-m-Y H:i')}}
        </li>
        <li>
            date de fin : {{ sortie.dateHeureFin |date('d-m-Y H:i')}}
        </li>
        <li>
            fin de l'inscription : {{ sortie.dateLimiteInscription |date('d-m-Y H:i')}}
        </li>
        <li>
            nombre de participants max : {{ sortie.nbInscriptionsMax }}
        </li>
        <li>
            description : {{ sortie.infosSortie }}
        </li>
    </ul>
    <a class="btn btn-neutral m-1" id="lien" href="{{ path('sortie_modifier', {'id' : sortie.id}) }}">
        modifier
    </a>
{% if sortie.dateHeureDebut > now %}
    <a class="btn btn-neutral m-1" id="lien" href="{{ path('sortie_annuler', {'id' : sortie.id}) }}">
        Annuler
    </a>
    {% endif %}
    {% if difference > 0 %}
        <a class="btn btn-neutral m-1" id="lien" href="{{ path('participation_inscription', {'id' : sortie.id}) }}">
            participer
        </a>
    {% endif %}
{#  ************* AFFICHAGE DU BOUTON PUBLIER TODO: VERIFIER LES CONDITIONS  **************** #}
    {% if sortie.etat.id == 1 and sortie.organisateur == app.user %}
        <a class="btn btn-sm m-1" href="{{ path('participation_publier', {'id' : sortie.id})  }}">
            Publier
        </a>
    {% endif %}
{#          *****************************************************************               #}

    <h2>Participants</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participants %}
            <tr>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

