{% extends 'base.html.twig' %}

{% block body %}

{#/*********************** FORMULAIRE DE RECHERCHE *******************************/#}
    <div class="FormSearch m-2">
        {{ form_start(form) }}
        <div class="grid grid-cols-4 gap-4">
            <div>
                {{ form_widget(form.nom) }}
            </div>
            <div>
                {{ form_row(form.dateMin) }}
            </div>
            <div>
                {{ form_row(form.dateMax) }}
            </div>
            <div>
                <button class="bg-blue-600 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded" type="submit">
                    Filtrer
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nombre de participants</th>
            <th>inscrit</th>
            <th>Description</th>
            <th>Limite Inscription</th>
            <th>Etat</th>
            <th>Organisateur</th>
        </tr>
        </thead>
        <tbody>
        {% for event in sorties %}

            <tr>
                <td>{{ event.nom }}</td>
                <td>{{ event.dateHeureDebut |date('d-m-Y') }}</td>
                <td>{{ event.dateHeureFin |date('d-m-Y') }}</td>
                <td>{{ event.nbInscriptionsMax }}</td>
               <td>
                   {% if event in user.sortiesParticipants %}
                       ✅
                   {% endif %}
               </td>
                <td>{{ event.infosSortie }}</td>
                <td>{{ event.dateLimiteInscription |date('d-m-Y') }}</td>
                <td>{{ event.etat.libelle }}</td>


                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="{{ asset(user.imageName) }}" alt="avatar" />
                            </div>
                        </div>
                        <div>
                            <div class="font-bold"><a href="{{ path('profil_participant_detail',{'id' : event.organisateur.id}) }}">{{ event.organisateur.pseudo }} </a></div>

                        </div>
                    </div>
                </td>



                <td><a class="btn btn-sm m-1" id="lien" href="{{ path('sortie_detail', {'id' : event.id}) }}">
                        detail
                    </a></td>

                <td>
                    {% if event.etat.id == 2
                        and event.dateLimiteInscription > now
                        and event.participants.count < event.nbInscriptionsMax
                        and now < event.dateHeureDebut
                        and user != event.organisateur
                        %}

                        {% if  event not in user.sortiesParticipants %}
                            <a class="btn btn-neutral m-1" id="lien" href="{{ path('participation_inscription', {'id' : event.id}) }}">
                                participer
                            </a>
                        {% endif %}
                    {% endif %}
                </td>

                {% for personne in event.participants %}
                    {% if personne == user and event.dateHeureDebut > now %}
                        <td><a class="btn btn-sm m-1" id="lien"
                               href="{{ path('participation_annuler', {'id' : event.id}) }}">
                                Annuler la participation
                            </a></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

