{% extends 'base.html.twig' %}

{% block body %}




    <div class="FormSearch m-2">
        {{ form_start(form) }}
        {{ form_widget(form.nom) }}

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Filtrer
        </button>
        {{ form_end(form) }}

    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de début</th>
            <th>Nombre de participants</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for event in sorties %}
            <tr>
                <td>{{ event.nom }}</td>
                <td>{{ event.dateHeureDebut |date('d-m-Y') }}</td>
                <td>{{ event.nbInscriptionsMax }}</td>
                <td>{{ event.infosSortie }}</td>
                <td><a class="btn btn-sm m-1" id="lien" href="{{ path('sortie_detail', {'id' : event.id}) }}">
                        detail
                    </a></td>
                <td><a class="btn btn-sm m-1" id="lien"
                       href="{{ path('participation_inscription', {'id' : event.id}) }}">
                        participer
                    </a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

