{% extends 'base.html.twig' %}

{% block body %}
{% for event in sorties %}
<div>
<ul>

    <li>
        nom de la sortie : {{ event.nom }}
    </li>
    <li>
        date du début : {{ event.dateHeureDebut |date('d-m-Y H:i')}}
    </li>
    <li>
        date de fin : {{ event.dateHeureFin |date('d-m-Y H:i')}}
    </li>
    <li>
        fin de l'inscription : {{ event.dateLimiteInscription |date('d-m-Y H:i')}}
    </li>
    <li>
        nombre de participants max : {{ event.nbInscriptionsMax }}
    </li>
    <li>
        description : {{ event.infosSortie }}
    </li>
</ul>
    <a class="btn btn-neutral m-1" id="lien" href="{{ path('sortie_detail', {'id' : event.id}) }}">
       detail
    </a>

</div>
{% endfor %}
{% endblock %}

