<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<header>
    <div class="navbar bg-neutral text-neutral-content">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                   {# <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>#}
                </label>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-neutral rounded-box w-52">
                    {% if app.user %}
                        <li><a href="{{ path('sortie_affichage') }}">Afficher les Événements</a></li>
                        <li><a href="{{ path('profil_detail') }}">Profil de {{ app.user.pseudo }}</a></li>
                        <li><a href="{{ path('sortie_creation') }}">Créer un Événement </a></li>
                        <li><a href="{{ path('app_site_admin_index') }}">Site</a></li>
                        <li><a href="{{ path('app_ville_admin_index') }}">Ville</a></li>
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% endif %}
                    {% if not app.user %}
                        <li><a href="{{ path('main_index') }}">Afficher les Événements</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if app.user %}
                <a href="{{ path('sortie_affichage') }}   " class="btn btn-ghost normal-case text-xl">Sortir.com</a>
            {% else %}
                <a href="{{ path('main_index') }}   " class="btn btn-ghost normal-case text-xl">Sortir.org</a>
            {% endif %}
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="/admin ">Home</a></li>
                    <li><a href="{{ path('app_site_admin_index') }}">Site</a></li>
                    <li><a href="{{ path('app_ville_admin_index') }}">Ville</a></li>

                {% endif %}
               
               
                {% if app.user %}
                    <li><a href="{{ path('sortie_affichage') }}">Afficher les Événements</a></li>
                    <li><a href="{{ path('sortie_creation') }}">Créer un Événement </a></li>
                    <li><a href="{{ path('profil_detail') }}">{{ app.user.pseudo }}</a></li>
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                {% endif %}
                {% if not app.user %}
                    <li><a href="{{ path('main_index') }}">Afficher les Événements</a></li>
                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    {% if app.user and app.user.imageName %}
                        <img alt="sortie apercu" src="{{ asset('images/products/' ~ app.user.imageName) }}" />

                </div>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-neutral rounded-box w-52">
                <li><a href="{{ path('profil_detail') }}">Profil de {{ app.user.pseudo }}</a></li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</header>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div>
            <div>
                <div class="alert" style="background-color:green; padding:20px; text-align: center">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
{% block body %}


{% endblock %}
</body>
</html>
