<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<header>
    <div class="navbar bg-neutral text-neutral-content">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                   {# <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>#}
                </label>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-neutral rounded-box w-52">
                    {% if app.user %}
                        <li><a href="{{ path('sortie_affichage') }}">Afficher les Événements</a></li>
                        <li><a href="{{ path('profil_detail') }}">Profil de {{ app.user.pseudo }}</a></li>
                        <li><a href="{{ path('sortie_creation') }}">Créer un Événement </a></li>
                        <li><a href="{{ path('app_site_admin_index') }}">Site</a></li>
                        <li><a href="{{ path('app_ville_admin_index') }}">Ville</a></li>
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% endif %}
                    {% if not app.user %}
                        <li><a href="{{ path('main_index') }}">Afficher les Événements</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if app.user %}
                <a href="{{ path('sortie_affichage') }}   " class="btn btn-ghost normal-case text-xl">Sortir.com</a>
            {% else %}
                <a href="{{ path('main_index') }}   " class="btn btn-ghost normal-case text-xl">Sortir.org</a>
            {% endif %}
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {% if app.user %}
                    <li><a href="{{ path('sortie_affichage') }}">Afficher les Événements</a></li>
                    <li><a href="{{ path('sortie_creation') }}">Créer un Événement </a></li>
                    <li><a href="{{ path('app_site_admin_index') }}">Site</a></li>
                    <li><a href="{{ path('app_ville_admin_index') }}">Ville</a></li>
                    <li><a href="{{ path('profil_detail') }}">{{ app.user.pseudo }}</a></li>
                {% endif %}
                {% if not app.user %}
                    <li><a href="{{ path('main_index') }}">Afficher les Événements</a></li>
                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    {% if app.user and app.user.imageName %}
                        <img src="{{ asset('images/products/' ~ app.user.imageName) }}" />

                </div>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-neutral rounded-box w-52">
                <li><a href="{{ path('profil_detail') }}">Profil de {{ app.user.pseudo }}</a></li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</header>



{#<nav class="border-gray-200 bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://flowbite.com/" class="flex items-center">
            <img src="/image/logo.png" class="h-8 mr-3" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Flowbite</span>
        </a>
        <div class="flex items-center md:order-2">
            <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none divide-y rounded-lg shadow bg-gray-700 divide-gray-600" id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-white">Bonnie Green</span>
                    <span class="block text-sm truncate text-gray-400">name@flowbite.com</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Settings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Sign out</a>
                    </li>
                </ul>
            </div>
            <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-gray-800 md:bg-gray-900 border-gray-700">
                <li>
                    <a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">About</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Services</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Pricing</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>#}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div>
            <div>
                <div class="alert" style="background-color:green; padding:20px; text-align: center">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
{% block body %}


{% endblock %}
</body>
</html>
